
.avatar {
    margin-bottom: 4px;
    max-width:  100%;
}

.name {
    font-size: 20px;
    text-align: center;
    margin: 0;
}

.statusText {
    text-align: center;
    font-size: 14px;
}

.isOnline {
    color: green;
}

.isOffline {
    color: red;
}